#hidden{
  color: transparent;
  border-color: transparent;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none
}

body {
  margin: 0;
  padding: 0;
  font-family: 'montserrat', sans-serif;
  text-decoration: none;
  background-color: black;
  color: #dddd;
  /*color: #c6c5c0;*/
  /*color: #b42e0e;*/
  /*color: #D4DADE;*/
  /*color: #E94F64;*/
  
}

* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  border: 0; 
  outline: 0;
}

/* FRONT PAGE */

.front-page{
  background-color: black;
  height: 100vh;
}


.img {
  display: grid;
  height: 100%;
}

.center-fit {
  max-width: 100%;
  max-height: calc(100vh - 3.75px);
  margin: auto;
}

.img-center {
  text-align: center;
  z-index: -1;
}

/* NAV BAR */

.nav-bar { 
  top: 0;
  height: 75px;
  width: 100%;
  position: absolute; 
}

.nav-bar-inner {
  position: relative;
  margin: 20px 30px 15px 30px;
  height: 40px;
}

.nav-bar-inner-left{
  position: relative;
  float: left;
  line-height: 40px;
  font-weight: bold;
}

.nav-bar-inner-left a{
  font-size: 30px;
  font-weight: lighter;
  text-decoration: none;
  color: #dddd;
}

.nav-bar-inner-left a:hover {
  color: white;
}

.nav-bar-inner-right{
  position: relative;
  float:right;
  line-height: 40px;
}

.nav-bar-inner-right a{
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  color: #dddd;
  margin: 0px 20px 0px 20px;
}

.nav-bar-inner-right a:hover {
  color: white;
}

/* Nav bar when width is less than 950px */

.icon{
  display: none;
  color: #dddd;
  font-size: 30px;
  position: relative;
  float:right;
  margin-right: 0;
  line-height: 40px;
}

.icon:hover{
  color: white;
}

@media screen and (max-width: 950px) {
  .nav-bar-inner-right a {
    display: none;
  }
  .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-bar-responsive{
    top: 0;
    height: 75px;
    width: 100%;
    position: absolute;
  } 
  .nav-bar-responsive a{
    float: none;
    display: block;
  }
  .nav-bar-inner-left {
    display: block;
    width: 100%;
  }
  .nav-bar-inner-right a{
    margin: 10px 0px 10px 0px;
    text-align: right;
  }

  .nav-bar-inner-right a:hover{
    color: white;
  }
}

/* Nav bar when width is less than 530px */

@media screen and (max-width: 530px) {
  .nav-bar-responsive{
    height: 270px;
    background-color: rgb(50,50,50,0.75);
  }
}

/* Social Icons */

.social_holder{
  display: block;
  position: relative;
  bottom: 15px;
  right: 30px;
  font-size: 25px;
  text-align: right;
}

.social_holder a{
  text-decoration: none;
  transition: all .2s ease-in-out; 
}

.social_holder a:hover{
  transform: scale(1.1);
}

#insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.backstage {
  content: url("https://lidianatodoroff.com/icons/backstage-icon.png");
  height: 21.44px;
  width: 21.44px;
  margin-bottom: -2.2px;
  border-radius: 10%;
  filter: brightness(75%);
}

/* Secondary Pages*/
.secondary-page{
  margin:0px; 
  color: #dddd;
}

.content-holder{
  margin: 0 auto;
  margin-top: 135px;
  margin-bottom: 20px;
  width:66.667%;
}

.content-title {
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.content-title a{
  font-size: 40px;
  color: #dddd;
}

.content{
  width: auto;
  background: #dddd;
}

/* Photos */

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px 8px;
}

.column {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
}

.column-wide{
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.cover-column {
  -ms-flex: 33%;
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.overlay-img{
  opacity: 1;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container{
  position: relative;
}

.container:hover .overlay-img {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.overlay-text{
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1080px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .cover-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Biography */

.biography-content img{
  padding: 8px 0 10px 8px;
}

.biography-writing{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  color: black;
}

.biography-writing a{
  font-size: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;

}

.biography-writing p{
  margin-top:10px;
}

.biography-column {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.biography-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%
}

@media screen and (max-width: 1221px) {
  .biography-writing{
    padding-left: 10px;
    padding-right: 10px;
  }
  .biography-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Resume */
.resume-content img{
  padding: 8px 0 10px 8px;
}

.resume-writing{
  padding-top: 30px;
  padding-bottom: 10px;
  color: black;
}

.resume-writing a{
  font-size: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;

}

.resume-writing p{
  font-size: 13px;
  margin-top:5px;
}

.resume-column {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.resume-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%
}

@media screen and (max-width: 996px) {

  .resume-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    text-align: center;
  }
}

.resume-writing-holder{
  padding-left: 15px;
  padding-right: 15px; 
}

.resume-button{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.resume-button a:hover{
  background-color: black;
  color: #dddd;
}

.resume-button a{
  text-decoration: none;
  color: black;
  border-color: black;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
}

.resume-writing-column1{
  width: 34%;
}

.resume-writing-column2{
  width: 20%;
}

.resume-writing-column3{
  width: 26%;
}

.resume-writing-column4{
  padding-left: 25px;
  width: 20%;
}

.resume-writing-row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 995px) {

  .resume-writing-holder{
    display: none;
  }
}

/* Image Gallery */
.img-galllery:hover{
  opacity: 0.7;
}

/* Back to top */
.scrollToTopBtn {
  background-color: silver;
  border: none;
  border-radius: 10%;
  color: black;
  cursor: pointer;
  font-size: 20px;
  font-weight: 100;

  line-height: 50px;
  width: 50px;
  
  position: fixed;
  bottom: 70px;
  right: 40px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all .5s ease;
}

.showBtn {
  opacity: 1;
  transform: translateY(0)
}


.lb-number{
  display: block !important; 
}