body {
  margin: 0;
  padding: 0;
  font-family: 'montserrat', sans-serif;
  text-decoration: none;
  background-color: black;
  color: #dddd;
  /*color: #c6c5c0;*/
  /*color: #b42e0e;*/
  /*color: #D4DADE;*/
  /*color: #E94F64;*/
  
}

* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  border: 0; 
  outline: 0;
}

/* FRONT PAGE */

.front-page{
  background-color: black;
  height: 100vh;
}


.img {
  display: grid;
  height: 100%;
}

.center-fit {
  max-width: 100%;
  max-height: calc(100vh - 3.75px);
  margin: auto;
}

.img-center {
  text-align: center;
  z-index: -1;
}

/* NAV BAR */

.nav-bar { 
  top: 0;
  height: 75px;
  width: 100%;
}

.nav-bar-inner {
  position: relative;
  margin: 20px 30px 15px 30px;
  height: 40px;
}

.nav-bar-inner-left{
  position: relative;
  float: left;
  line-height: 40px;
  font-weight: bold;
}

.nav-bar-inner-left a{
  font-size: 30px;
  font-weight: lighter;
  text-decoration: none;
  color: #dddd;
}

.nav-bar-inner-left a:hover {
  color: white;
}

.nav-bar-inner-right{
  position: relative;
  float:right;
  line-height: 40px;
}

.nav-bar-inner-right a{
  font-size: 20px;
  font-weight: lighter;
  text-decoration: none;
  color: #dddd;
  margin: 0px 20px 0px 20px;
}

.nav-bar-inner-right a:hover {
  color: white;
}

/* Nav bar when width is less than 950px */

.icon{
  display: none;
  color: #dddd;
  font-size: 30px;
  position: relative;
  float:right;
  margin-right: 0;
  line-height: 40px;
}

.icon:hover{
  color: white;
}

@media screen and (max-width: 950px) {
  .nav-bar-inner-right a {
    display: none;
  }
  .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-bar-responsive{
    top: 0;
    height: 75px;
    width: 100%;
  } 
  .nav-bar-responsive a{
    float: none;
    display: block;
  }
  .nav-bar-inner-left {
    display: block;
    width: 100%;
  }
  .nav-bar-inner-right a{
    margin: 10px 0px 10px 0px;
    text-align: right;
  }

  .nav-bar-inner-right a:hover{
    color: white;
  }
}

/* Nav bar when width is less than 530px */

@media screen and (max-width: 530px) {
  .nav-bar-responsive{
    background-color: rgb(50,50,50,0.75);
  }
}

/* Social Icons */

.social_holder{
  display: block;
  position: relative;
  bottom: 15px;
  right: 30px;
  font-size: 25px;
  text-align: right;
}

.social_holder a{
  text-decoration: none;
  transition: all .2s ease-in-out; 
}

.social_holder a:hover{
  transform: scale(1.1);
}

#insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.backstage {
  content: url("./icons/backstage-icon.png");
  height: 21.44px;
  width: 21.44px;
  margin-bottom: -2.2px;
  border-radius: 10%;
  filter: brightness(75%);
}

/* Secondary Pages*/
.secondary-page{
  margin:0px; 
  color: #dddd;
}

.content-holder{
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  width:66.667%;
}

.content-title {
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.content-title a{
  font-size: 40px;
  color: #dddd;
}

.content{
  width: auto;
  background: #dddd;
}

/* Photos */

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px 8px;
}

.column {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%
}

@media screen and (max-width: 1080px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Biography */

.biography-content img{
  padding: 8px 0 10px 8px;
}

.biography-writing{
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 10px;
  color: black;
}

.biography-writing a{
  width: 50px;
  font-size: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.biography-writing p{
  margin-top:15px;
}

@media screen and (max-width: 1080px) {
  .biography-writing{
    padding-left: 10px
  }
}